# Supabase Configuration
SUPABASE_URL=https://xaoeygmghbvnwsrkcouo.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhhb2V5Z21naGJ2bndzcmtjb3VvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMxOTQ5NzksImV4cCI6MjA4ODc3MDk3OX0.BPUYlBgocJ_usnohJeRtMswtzKIMCKivqxpqHaslIMQ
SUPABASE_JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhhb2V5Z21naGJ2bndzcmtjb3VvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzE5NDk3OSwiZXhwIjoyMDg4NzcwOTc5fQ.Os2iQHuiM5i4wxcoDphwslyY7vJw1-CgJ91vPkqltUE

# Server Configuration
PORT=3000
